# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* Learn how to create a table
* Practice basic calculations in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. ggplot2
4. ggraph

| Data Science Tools |
| -------------------|
| RStudio|
| Jupyter Notebook|
| TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Ben H.